@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    marging: 0;
    padding: 0;
}

img {
    max-size: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: fff;
}

body {
    background-color: fff;
    color: 000;
    font-family: 'poppins', sans-serif;
}

header {
    padding: 20px 0px;
    background-color: #0F1B2B;
    color: #fff;
}

header .logo {
    position: absolute;
    margin-left: 140px;
    width: 200px
}

header nav {
    margin-right: 25px;
    margin-left: 15%;
    width: 70%;
    margin-top: -8px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline_block;
}

header nav ul li a {
    color: #fff;
    font-weight: 600;
    transition: all 0.2s ease;
}

header nav ul li a:hover {
    color: #555;
}

div.name {
    position: relative;
    padding: 50px 0px;
    font-size: 60px;
    text-align: center;
}